<section id="verwaltung">
  <div class="page-header">
  <h3>Verwaltung</h3>
  </div>
<ul>
    <li><%= link_to 'Inhalte bearbeiten', pages_path %></li>
    <li><%= link_to 'News verwalten', infos_path %></li>
    <li><%= link_to 'Ereignisse verwalten', events_path %></li>
    <li><%= link_to 'Veranstaltungsorte verwalten', event_locations_path %></li>
    <li><%= link_to 'Bildergallerien verwalten', galleries_path %></li>
    <li><%= link_to 'Benutzer verwalten', users_path %></li>
</ul>
</section>

