<section id="aktuelles">
  <article class="col-3">
    <h3>Aktuelles</h3>
    <h4><%= @latest_info.nil? ? "nix los" : @latest_info.title %></h4>
    <p><%=  @latest_info.nil? ? "" : truncate(@latest_info.content.html_safe, omission: '', length:500, separator: ' ') {link_to ' ...', @latest_info}  %>
    <p><%= link_to 'Weitere Meldungen',infos_url %>  </p>
  </article>

  <article class="col-3">
    <h3>Sinfonieorchester</h3>
    <a href="probenplan/Sinfonieorchester">Probenplan</a><br/>
    <% if !@next_sinf_concert.nil? %>
        <h4><%= link_to @next_sinf_concert.title, @next_sinf_concert %></h4>
        <p>
          <small>
            <% @next_sinf_concert.event_dates.each do |event_date| %>
                <%= l event_date.start_at, :format=>:short_with_day %>, <%= link_to_location event_date %> <%= event_date.additional_description unless event_date.additional_description.nil? %> <br>
            <% end %>
          </small>
        </p>
        <p>
          <%= link_to image_tag(@next_sinf_concert.image.url(:medium), :class => 'thumbnail'), @next_sinf_concert %>
        </p>
    <% end %>
  </article>

  <article class="col-3">
    <h3>Stadtkapelle</h3>
    <a href="probenplan/Stadtkapelle">Probenplan</a>
    <% if !@next_skp_concert.nil? %>
        <h4><%= link_to @next_skp_concert.title, @next_skp_concert %></h4>
        <p>
          <small>
            <% @next_skp_concert.event_dates.each do |event_date| %>
                <%= l event_date.start_at, :format=>:short_with_day %>, <%= link_to_location event_date %> <%= event_date.additional_description unless event_date.additional_description.nil? %> <br>
            <% end %>
          </small>
        </p>
        <p>
          <%= link_to image_tag(@next_skp_concert.image.url(:medium), :class => 'thumbnail'), @next_skp_concert %>
        </p>
    <% end %>
  </article>
</section>

<section id="termine">
  <article class="col-1">
    <div class="page-header">
      <h3>Nächste Konzerte des Musikvereins</h3>
    </div>

    <% @next_concerts.each do |event| %>
        <div class="row">
          <div class="col-md-5">
            <%= link_to event.title, event %> (<%= event.orchestra %>)
          </div>
          <div class="col-md-7">
            <% event.event_dates.each do |event_date| %>
                <div class="row">
                  <div class="col-md-7">
                    <%= l event_date.start_at, :format=>:short_with_day %>, <%= link_to_location event_date %> <%= event_date.additional_description unless event_date.additional_description.nil? %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12"><hr class="list-separator"></div>
        </div>
    <% end %>
  </article>
</section>

<section id="sponsors">
  <article class="col-1">
    <div class="row">
      <div class="col-md-12"><h3>Wir danken unseren Sponsoren:</h3></div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="logo-ksk">
          <a href="https://www.ksk-bc.de/">
            <img src="https://bankingportal.ksk-bc.de/ifdata/65450070/IPSTANDARD/4/content/www/pixel/logo_spk/if5_spk_logo.gif" alt="Kreissparkasse Biberach">
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="logo-audioconcept">
          <a href="http://www.audioconcept-veranstaltungstechnik.de/">
            <img src="http://www.audioconcept-veranstaltungstechnik.de/files/layout/logo-audioconcept.png" alt="audioconcept">
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="logo-slog">
          <a href="http://www.slogdesign.de/">
            <img src="http://www.slogdesign.de/sd.jpg" alt=slogdesign">
          </a>
        </div>
      </div>
    </div>
  </article>
</section>
