<main id="aktuelles">

<section>
  <article class="col-3">
    <h3>Aktuelles</h3>
    <h4><%= @latest_info.nil? ? "nix los" : @latest_info.title %></h4>
    <p><%=  @latest_info.nil? ? "" : truncate(@latest_info.content, omission: '', length:250, separator: ' ') {link_to ' ...', @latest_info}  %>
    <p><%= link_to 'Weitere Meldungen ...',infos_url %>  </p>
  </article>

  <article class="col-3">
    <h3>Sinfonieorchester</h3>
    <a href="probenplan/Sinfonieorchester">Probenplan</a><br/>
    <% if !@next_sinf_concert.nil? %>
        <h4><%= @next_sinf_concert.title %></h4>
        <small>
          <% @next_sinf_concert.event_dates.each do |event_date| %>
              <%= l event_date.start_at, :format=>:short_with_day %>, <%= link_to_location event_date %> <%= event_date.additional_description unless event_date.additional_description.nil? %> <br>
          <% end %>
        </small>
        <ul class="thumbnails">
          <li>
            <%= link_to image_tag(@next_sinf_concert.image.url(:medium), :class => 'thumbnail'), @next_sinf_concert %>
          </li>
        </ul>
    <% end %>
  </article>

  <article class="col-3">
    <h3>Stadtkapelle</h3>
    <a href="probenplan/Stadtkapelle">Probenplan</a>
    <% if !@next_skp_concert.nil? %>
        <h4><%= @next_skp_concert.title %></h4>
        <small>
          <% @next_skp_concert.event_dates.each do |event_date| %>
              <%= l event_date.start_at, :format=>:short_with_day %>, <%= link_to_location event_date %> <%= event_date.additional_description unless event_date.additional_description.nil? %> <br>
          <% end %>
        </small>
        <ul class="thumbnails">
          <li>
            <%= link_to image_tag(@next_skp_concert.image.url(:medium), :class => 'thumbnail'), @next_skp_concert %>
          </li>
        </ul>
    <% end %>
  </article>
</section>

<section id="termine">
  <article class="col-1">
    <div class="page-header">
        <h3>Nächste Konzerte des Musikvereins</h3>
    </div>

      <% @next_concerts.each do |event| %>
      <div class="row">
        <div class="col-md-5">
          <%= link_to event.title, event %> (<%= event.orchestra %>)
        </div>
        <div class="col-md-7">
          <% event.event_dates.each do |event_date| %>
          <div class="row">
            <div class="col-md-7">
              <%= l event_date.start_at, :format=>:short_with_day %>, <%= link_to_location event_date %> <%= event_date.additional_description unless event_date.additional_description.nil? %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12"><hr class="list-separator"></div>
      </div>
      <% end %>
  </article>
</section>

</main>