<h1>Listing events</h1>

<table>
  <tr>
    <th>Begin</th>
    <th>End</th>
    <th>Location</th>
    <th>Orchestra</th>
    <th>Title</th>
    <th>Description</th>
    <th>Public event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.begin %></td>
    <td><%= event.end %></td>
    <td><%= event.location %></td>
    <td><%= event.orchestra %></td>
    <td><%= event.title %></td>
    <td><%= event.description %></td>
    <td><%= event.public_event %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_polymorphic_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
