<% content_for :title, "Termine" %>

  <div class="page-header">
    <div class="row">
      <div class="col-md-8">
        <h3>Termine</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <% if user_signed_in? then %>
            <%= link_to('Neuer Termin', new_event_path) %> | <%= link_to('Neues Konzert', new_concert_path) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2 col-xs-offset-2 col-md-1 col-md-offset-4">
      <%= link_to events_path(:year=>(@shown_month - 1.month).year, :month=>(@shown_month - 1.month).month) do %>
          <i class="glyphicon glyphicon-arrow-left"></i>
      <% end %>
    </div>
    <div class="col-xs-4 col-md-2">
      <strong><%= l(@shown_month, :format=> :month_and_year) %></strong>
    </div>
    <div class="col-xs-2 col-md-1">
      <%= link_to events_path(:year=>(@shown_month + 1.month).year, :month=>(@shown_month + 1.month).month) do %>
          <i class="glyphicon glyphicon-arrow-right"></i>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-1 col-md-2"> &nbsp;</div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div id="calendar-wrap">
    		<div id="calendar">
    			<ul class="weekdays">
    				<li>Montag</li>
    				<li>Dienstag</li>
    				<li>Mittwoch</li>
    				<li>Donnerstag</li>
    				<li>Freitag</li>
    				<li>Samstag</li>
    				<li>Sonntag</li>
    			</ul>

    			<ul class="days">
          <% @visible_days.each do |day| %>
            <li class="<%= day.month == @shown_month.month ? "day" : "day other-month" %>">
    					<div class="date"><%= day.day %></div>    	
              <%= print_events(day, @events_by_date).html_safe %>
    				</li>
          <% end %>
          </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-1 col-md-1"> &nbsp;</div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-md-2"> <div class="sinfonieorchester">Sinfonieorchester</div></div>
    <div class="col-xs-4 col-md-2"> <div class="stadtkapelle">Stadtkapelle</div></div>
    <div class="col-xs-4 col-md-2"> <div class="gesamtverein">Gesamtverein</div></div>  
  </div>
