<h1>Termine</h1>

<table>
  <tr>
    <th>Beginn</th>
    <th>Ort</th>
    <th>Orchester</th>
    <th>Veranstaltung</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= l event.begin, :format=>:long %></td>
    <td><%= event.location %></td>
    <td><%= event.orchestra %></td>
    <td><%= event.title %></td>
    <td><%= link_to 'Details', event %></td>
    <td><%= link_to 'Bearbeiten', edit_polymorphic_path(event) %></td>
    <td><%= link_to 'Löschen', event, :confirm => 'Soll der Termin wirklich gelöscht werden?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neuer Termin', new_event_path %>
<%= link_to 'Neues Konzert', new_concert_path %>
