<% content_for :title, @event.title %>
<section id="events">
<div class="page-header">
<h3> <%= @event.title %> </h3>
</div>
  <% if user_signed_in? then %>
   <p>
     <%= link_to('Bearbeiten', edit_event_path(@event)) %> |
     <%= link_to('Löschen', @event, :confirm => 'Sicher?', :method => :delete) %> |
     <%= link_to 'Zurück zum Terminkalender', events_path %> |
     <%= link_to('Neuer Termin', new_event_path) %> |
     <%= link_to('Neues Konzert', new_concert_path) %>
   </p>
  <% end %>
  <p>
    <b>Orchester:</b> <%= @event.orchestra %> <br />
  </p>
<% @event.event_dates.each do |event_date| %>
<p>
  <b>Beginn:</b> <%= l event_date.start_at, :format=>:long %> <br />
  <b>Ende:</b> <%= l event_date.end_at, :format=>:long %> <br />
  <b>Ort:</b> <%= link_to_location event_date %>
  <b>Zusatzinfo:</b> <%= event_date.additional_description %>
</p>
<% end %>
<p>
  <%= @event.description.html_safe %>
</p>

<%= render :partial => 'press_articles', :locals => {:press_articles => @event.press_articles} %>

</section>