<p id="notice"><%= notice %></p>

<p>
  <b>Begin:</b>
  <%= @event.begin %>
</p>

<p>
  <b>End:</b>
  <%= @event.end %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Orchestra:</b>
  <%= @event.orchestra %>
</p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description.html_safe %>
</p>

<p>
  <b>Public event:</b>
  <%= @event.public_event %>
</p>


<%= link_to('Edit', edit_event_path(@event)) if user_signed_in? %> |
<%= link_to 'Back', events_path %>
