<section id="events">
<div class="page-header">
<h1> <%= @event.title %> </h1>
</div>

<p>
  <b>Orchester:</b> <%= @event.orchestra %> <br />
  <b>Beginn:</b> <%= l @event.begin, :format=>:short %> <br />
  <b>Ende:</b> <%= l @event.end, :format=>:short %> <br />
  <b>Ort:</b> <%= @event.location %>
</p>

<p>
  <%= @event.description.html_safe %>
</p>

 <% if user_signed_in? then %>
    <%= link_to('Bearbeiten', edit_event_path(@event)) %> |
    <%= link_to('Löschen', @event, :confirm => 'Sicher?', :method => :delete) %> |
    <%= link_to 'Zurück zur Übersicht', events_path %>
 <% end %>
</section>