<%= bootstrap_form_for(@page, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10" ) do |f| %>
    <%= f.text_field :name %>
    <%= f.text_field :permalink %>
    <div class="form-group">
        <%= f.cktext_area :main_content, :label => false, :class =>"form-control" %>
    </div>
    <p>
        <%= f.submit 'Speichern', :class=>'btn btn-primary'%>
        <%= link_to 'Zurück zur Übersicht', pages_path, :class=>"btn btn-default" %>
    </p>
<% end %>
