<h1>Bearbeitbare Seiten</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Permalink</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @pages.each do |page| %>
      <tr>
        <td><%= page.name %></td>
        <td><%= page.permalink %></td>
        <td><%= link_to 'Anzeigen', page %></td>
        <td><%= link_to('Bearbeiten', edit_page_path(page)) if user_signed_in? %></td>
        <td><%= link_to('Löschen', page, :confirm => 'Are you sure?', :method => :delete) if user_signed_in? %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to('Neue Seite anlegen', new_page_path) if user_signed_in? %>
