<p id="notice"><%= notice %></p>

<div id="container">
<div id="content">
  <%= @page.main_content %>
</div>
<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
</div>

<div class="sidebar" id="sideRight">
  <%= @page.side_content %>
</div>

