<%= simple_form_for @concert, :html => {:class => 'form-horizontal', :multipart => true} do |f| %>
    <%= f.input :start_at, :label=>"Beginn", :as=>:string, :input_html => {:class=>'datetimepicker'} %>
    <%= f.input :end_at, :label=>"Ende", :as=>:string, :input_html => { :class=>'datetimepicker'} %>
    <%= f.input :location, :label=>'Ort'  %>
    <%= f.input :orchestra, :label=>'Orchester', :collection=>['Stadtkapelle', 'Sinfonieorchester' ] %>
    <%= f.input :title, :label=>"Titel"  %>
    <%= f.input :public_event, :label=>"öffentlicher Auftritt?" %>

    <div class="field">
      <% if f.object.image? %>
        <%= image_tag f.object.image.url(:small) %>
        <%= f.input :image_delete, :as=>:boolean, :label=>"Bild löschen?" %>
      <% else %>
        <%= f.input :image, :as=>:file, :label=>'Plakat' %>
      <% end %>
    </div>


    <%= f.cktext_area :description, :label=>"Programm" %>
    <%= f.cktext_area :announcement, :label=>"Konzertankündigung"%>
    <%= f.cktext_area :critique, :label=> "Konzertkritik"%>

    <%= f.button :submit, 'Speichern', :class=>'btn primary' %>
<% end %>
