<p id="notice"><%= notice %></p>

<h1>
  <%= @concert.title %>
</h1>

<small>
  Beginn:
  <%= l @concert.begin, :format=>:short %>
  <br />
  Ort:  <%= @concert.location %>
  <br />
  Orchester: <%= @concert.orchestra %>
</small>

<ul class="media-grid">
    <li>
        <%= link_to image_tag(@concert.image.url(:medium)), @concert.image.url(:xlarge), :class=>"thumbnail lightbox" %>
    </li>
</ul>
<p>
  <%= @concert.announcement.html_safe %>
</p>



<h2>Programm:</h2>
<p>
  <%= @concert.description.html_safe %>
</p>


<%= link_to('Bearbeiten', edit_concert_path(@concert)) if user_signed_in? %> |
<%= link_to 'Zurück zur Übersicht', concerts_path %>
