<section id="concerts">
<div class="page-header">
<h1>
  <%= @concert.title %>
</h1>
</div>
  <% if user_signed_in? then %>
       <p>
         <%= link_to('Bearbeiten', edit_concert_path(@concert)) %> |
         <%= link_to('Löschen', @concert, :confirm => 'Sicher?', :method => :delete) %> |
         <%= link_to 'Zurück zur Übersicht', concerts_path %>
       </p>
  <% end %>
<small>
  Beginn:
  <%= l @concert.start_at, :format=>:long %>
  <br />
  Ort:  <%= @concert.location %>
  <br />
  Orchester: <%= @concert.orchestra %>
</small>

<ul class="thumbnails">
    <li>
        <%= link_to image_tag(@concert.image.url(:medium)), @concert.image.url(:xlarge), :class=>"thumbnail lightbox" %>
    </li>
</ul>
<p>
  <%= @concert.announcement.html_safe %>
</p>

<h2>Programm:</h2>
<p>
  <%= @concert.description.html_safe %>
</p>%

# TODO provide events as locals for partial
<% render 'events/press_articles' %>

</section>