<%= bootstrap_form_for(@event_location, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>


    <%= f.text_field :short_name, :label=>"Name" %>
    <%= f.text_field :long_name, :label=>"alternativer Name" %>
    <%= f.text_field :street, :label=>"Straße" %>
    <%= f.text_field :zipcode, :label=>"PLZ", :value=>"88400" %>
    <%= f.text_field :city, :label=>"Stadt", :value=>"Biberach" %>
    <%= f.text_field :country, :label=>"Land", :value=>"Deutschland" %>
    <span>optional, falls Addresse für Darstellung in Google Maps nicht ausreicht </span>
    <%= f.number_field :lat, :label=>"geogr. Breite", :value=>"0" %>
    <%= f.number_field :long, :label=>"geogr. Länge", :value=>"0" %>


<p>
  <%= f.submit 'Speichern', :class=>'btn btn-primary'%>
</p>
<% end %>
