<h3>Veranstaltungsorte</h3>
<div class="row">
  <div class="span6">
    <%= link_to('Neuen Veranstaltungsort anlegen', new_event_location_path) if user_signed_in? %>
  </div>
</div>

<div class="row">
  <div class="span6">
    &nbsp;
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>alt. Name</th>

        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @event_locations.each do |event_location| %>
          <tr>
            <td><%= event_location.short_name %></td>
            <td><%= event_location.long_name %></td>
            <td><%= link_to 'Anzeigen', event_location %></td>
            <td><%= link_to('Bearbeiten', edit_event_location_path(event_location)) if user_signed_in? %></td>
            <td><%= link_to('Löschen', event_location, method: :delete, data: { confirm: 'Soll der Veranstaltungsort wirklich gelöscht werden?' }) if user_signed_in? %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>


