<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event_location.short_name %>
</p>

<p>
  <b>alternativer Name:</b>
  <%= @event_location.long_name %>
</p>

<p>
  <b>Straße:</b>
  <%= @event_location.street %>
</p>

<p>
  <b>Plz:</b>
  <%= @event_location.zipcode %>
</p>

<p>
  <b>Stadt:</b>
  <%= @event_location.city %>
</p>

<p>
  <b>Land:</b>
  <%= @event_location.country %>
</p>

<p>
  <b>geo. Breite:</b>
  <%= @event_location.lat %>
</p>

<p>
  <b>geo. Länge:</b>
  <%= @event_location.long %>
</p>


<%= link_to 'Edit', edit_event_location_path(@event_location) %> |
<%= link_to 'Back', event_locations_path %>
