<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>

<p>
  <b>Context date:</b>
  <%= @photo.context_date %>
</p>

<p>
  <b>Gallery:</b>
  <%= @photo.gallery %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
