<%= bootstrap_nested_form_for(@gallery, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>

    <%= f.text_field :name, :label=>'Name'  %>
    <%= f.datetime_field :context_date, :label=>'Datum',:as=>:string, :class=>'datepicker', :value => @gallery.context_date.nil? ? '' : l(@gallery.context_date) %>
    <h2>Bilder</h2>
    <ul class="list-unstyled">
    <%= f.fields_for :photos do |photo_form| %>
        <div class="field">
          <% if photo_form.object.image? %>
              <li>
                <%= image_tag photo_form.object.image.url(:small), :class => 'thumbnail'%>
                <%= photo_form.form_group :public_event do %>
                  <%= photo_form.link_to_remove "Bild löschen", :class=>"btn" %>
                <% end %>
              </li>
          <% else %>
              <li>
                <%= photo_form.file_field :image, :label=>"Bild auswählen:", accept: 'image/jpg,image/jpeg,image/png' %>
              </li>
          <% end %>
        </div>
    <% end %>
      <p><%= f.link_to_add "Bild hinzufügen", :photos %></p>
    </ul>

    <p>
        <%= f.submit 'Speichern', :class=>'btn btn-primary' %>
        <%= link_to 'Zurück', galleries_path, :class=>'btn btn-default' %>
    </p>
<% end %>
