<%= nested_form_for @gallery, :html => {:multipart => true} do |f| %>
    <% if @gallery.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

          <ul>
            <% @gallery.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :context_date, "Datum" %>
      <br/>
      <%= f.date_select :context_date %>
    </div>
    <h2>Bilder</h2>
    <% f.fields_for :photos do |photo_form| %>

        <div class="field">
          <% if photo_form.object.image? %>
              <%= image_tag photo_form.object.image.url(:small) %>
              <%= photo_form.link_to_remove "Bild löschen" %>
          <% else %>
              <%= photo_form.file_field :image %>
          <% end %>
        </div>
    <% end %>
    <p><%= f.link_to_add "Bild hinzufügen", :photos %></p>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
