<% content_for :title, "Bilder" %>
<section id="images">
  <div class="page-header">
    <h3>Bilder</h3>
  </div>
  <p>
    <%= link_to('Neue Bildergalerie anlegen', new_gallery_path) if user_signed_in? %>
  </p>


  <ul class="thumbnails">
    <% @galleries.each do |gallery| %>
        <li class="span3">
          <div class="thumbnail">
            <%= link_to gallery do %>
                <%= image_tag(gallery.photos.first.image.url(:medium)) unless gallery.photos.first.nil? %>
            <% end %>
            <p>
              <small><%= gallery.name %></small>
              <br>
              <small class="muted">(<%= l(gallery.context_date) %>)</small>
            </p>
          </div>
        </li>
    <% end %>
  </ul>
</section>

