<section id="images">
<div class="page-header">
<h1>Bilder</h1>
  </div>
<p>
  <%= link_to('Neue Bildergallerie anlegen', new_gallery_path) if user_signed_in? %>
</p>


<ul class="media-grid">
  <% @galleries.each do |gallery| %>
    <li>
      <%= link_to gallery do %>
      <%= image_tag(gallery.photos.first.image.url(:medium), :class => "thumbnail") unless gallery.photos.first.nil?%>
      <p><%= gallery.name %> ( <%= l(gallery.context_date)%> )</p>
      <!-- <p><%= link_to('Bearbeiten', edit_gallery_path(gallery)) if user_signed_in? %>
      | <%= link_to('Löschen', gallery, :confirm => 'Sicher?', :method => :delete) if user_signed_in? %></p> -->
      <% end %>
    </li>
  <% end %>
</ul>
</section>

