<p id="notice"><%= notice %></p>

<h1>
  <%= @gallery.name %>
</h1>

<p>
  Datum:
  <%= @gallery.context_date %>
</p>

<% i=1 %>
<% @gallery.photos.each_slice(5){ |photos| %>
    <p>
    <% photos.each { |photo| %>
        <%= image_tag photo.image.url(:small) %>
    <% } %>    
    </p>
<% } %>


<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
