<section id="images">
<div class="page-header">
<h1>
  <%= @gallery.name %>
</h1>
</div>

<p>
  Datum:
  <%= l(@gallery.context_date) %>
</p>

<ul class="thumbnails">
  <% @gallery.photos.each do |photo| %>
    <li class="span3">
      <%= link_to image_tag(photo.image.url(:medium)), photo.image.url(:xlarge), :class=>"lightbox thumbnail" %>
    </li>
  <% end %>
</ul>

   <% if user_signed_in? then %>
        <%= link_to 'Bearbeiten', edit_gallery_path(@gallery)%>   |
        <%= link_to('Löschen', @gallery, :confirm => 'Sicher?', :method => :delete) %> |
        <%= link_to 'Zurück zur Übersicht', galleries_path %>
   <% end %>
</section>