<% content_for :title, @gallery.name %>
<section id="images">
  <article class="col-1">
  <div class="page-header">
    <h3>
      <%= @gallery.name %>
    </h3>
  </div>

  <p>
    <% if user_signed_in? then %>
        <%= link_to 'Bearbeiten', edit_gallery_path(@gallery) %>   |
        <%= link_to('Löschen', @gallery, data: { confirm: "Soll die Bildergallerie wirklich gelöscht werden?" }, :method => :delete) %> |
    <% end %>
    <%= link_to 'Zurück zur Übersicht', galleries_path %>
  </p>

  <p>
    Datum:
    <%= l(@gallery.context_date) %>
  </p>

  <div class="row">
    <% @gallery.photos.each do |photo| %>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
          <%= link_to image_tag(photo.image.url(:medium), :class=>"thumbnail"), photo.image.url(:xlarge), :class => "lightbox" %>
        </div>
    <% end %>
  </div>

  </article>
</section>