<p id="notice"><%= notice %></p>

<h1>
  <%= @gallery.name %>
</h1>

<p>
  Datum:
  <%= l(@gallery.context_date) %>
</p>

<ul class="media-grid">
  <% @gallery.photos.each do |photo| %>
    <li>
      <%= link_to image_tag(photo.image.url(:medium)), photo.image.url(:xlarge), :class=>"lightbox" %>
    </li>
  <% end %>
</ul>

<%= link_to 'Bearbeiten', edit_gallery_path(@gallery) if user_signed_in? %>   | <%= link_to('Löschen', @gallery, :confirm => 'Sicher?', :method => :delete) if user_signed_in? %> |
<%= link_to 'Zurück zur Übersicht', galleries_path %>
