<section>
  <article class="col-1">
    <div class="page-header">
      <h3>In der Presse</h3>
    </div>

    <% @press_articles.each do |year, articles| %>
        <h4><%=  year %></h4>
        <% articles.each do |press_article| %>
            <div class="row">
              <div class="col-md-9">
                <%= press_article.title %> (<%= press_article.publisher %> vom <%= l press_article.print_date unless  press_article.print_date.nil? %> )
              </div>
              <div class="col-md-3"><%= link_to 'Download', press_article.article.url  %></div>
            </div>
        <% end %>
    <% end %>

  </article>
</section>

