<%= form_for(@plan) do |f| %>
    <% if @plan.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this page from being saved:</h2>

          <ul>
            <% @plan.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label "Orchester" %>
      <br/>
      <%= f.select :orchestra, options_for_select(%w{Stadtkapelle Sinfonieorchester }) %>
    </div>
    <div class="field">
      <%= f.label "Anmerkung" %>
      <br/>
      <%= f.cktext_area :header %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>