<% content_for :title, "Probenplan " + @plan.orchestra %>
<section id="probenplan">
  <div class="page-header">
    <h1><%= yield :title %></h1>
  </div>
<p><small>Stand: <%= l Date.today, :format=>:long %> </small></p>
<p class="noprint">
   Probenplan als iCalendar: <%= link_to request.url + ".ics", :format=>:ics %>
</p>


<div class="probenplan_anmerkung">
  <%= link_to('Bearbeiten', edit_plan_path(@plan)) if user_signed_in? %>
  <p><%= @plan.header.html_safe %></p>
</div>

<table class="table">
  <tr>
    <th>Beginn</th>
    <th>Ort</th>
    <th>Veranstaltung</th>
    <th class="noprint"></th>
  </tr>

  <% @events.each do |event| %>
      <tr>
        <td><%= l event.start_at, :format=>:short_with_day %></td>
        <td><%= event.location %></td>
        <td><b><%= event.title %></b> <br> <%= event.description.html_safe %></td>
        <td class="noprint"><%= link_to "Anzeigen", polymorphic_path(event) %></td>
      </tr>
  <% end %>
</table>
</section>