<section id="probenplan">
  <div class="page-header">
    <h1>Probenplan <%= @plan.orchestra %></h1>
  </div>
<small>Datum: <%= l Date.today, :format=>:long %> </small>

<div class="probenplan_anmerkung">
  <%= link_to('Bearbeiten', edit_plan_path(@plan)) if user_signed_in? %>
  <%= @plan.header.html_safe %>
</div>

<table>
  <tr>
    <th>Beginn</th>
    <th>Ort</th>
    <th>Veranstaltung</th>
  </tr>

  <% @events.each do |event| %>
      <tr>
        <td><%= l event.begin, :format=>:short %></td>
        <td><%= event.location %></td>
        <td><%= event.title %></td>
      </tr>
  <% end %>
</table>
</section>