<%= bootstrap_form_for(@info, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
    <%= f.text_field :title, :label=>'Überschrift' %>
    <%= f.text_area :content, :label=>'Text',  :cols => 200, :rows => 5%>
    <p>
      <%= f.submit 'Speichern', :class=>'btn btn-primary' %>
      <%= link_to 'Zurück', infos_path, :class=>'btn btn-default' %>
    </p>
<% end %>
