<section id="infos">
  <article class="col-1">
  <div class="page-header">
    <h3>Aktuelles</h3>
  </div>
<p><%= link_to 'Neue Meldung anlegen', new_info_path if user_signed_in? %></p>

<% @infos.each do |info| %>
   <div class="row">
     <div class="col-md-2"><%= l info.created_at, :format=>:date_and_day %><br><%= l info.created_at, :format=>:time %></div>
     <div class="col-md-7"><b><%= info.title %></b>
         <div class="row">
                <div class="col-md-7"><%=truncate(info.content, :length=>250) %></div>
         </div>
     </div>
     <div class="col-md-3">
       <%= link_to 'Anzeigen', info %>
       <% if user_signed_in? then %>
           | <%= link_to 'Bearbeiten', edit_info_path(info) %> |
           <%= link_to 'Löschen', info, data: { confirm: "Soll die Meldung wirklich gelöscht werden?" }, :method => :delete %>
       <% end %>
     </div>
   </div>
  <% end %>
  </article>
</section>

