<section id="infos">
  <div class="page-header">
    <h1>Aktuelles</h1>
  </div>
<p><%= link_to 'Neue Info anlegen', new_info_path if user_signed_in? %></p>

<% @infos.each do |info| %>
   <div class="row">
     <div class="span2"><%= l info.created_at, :format=>:short %></div>
     <div class="span7"><%= info.title %></div>
     <div class="span3">
       <%= link_to 'Anzeigen', info %>
       <% if user_signed_in? then %>
           | <%= link_to 'Bearbeiten', edit_info_path(info) %> |
           <%= link_to 'Löschen', info, :confirm => 'Sicher?', :method => :delete %>
       <% end %>
     </div>
     <div class="row">
       <div class="span8 offset2"><%=info.content[0...250] + " ..." %></div>
     </div>
   </div>
  <% end %>

</section>

