<section id="infos">
  <div class="page-header">
    <h3>Aktuelles</h3>
  </div>
<p><%= link_to 'Neue Info anlegen', new_info_path if user_signed_in? %></p>

<% @infos.each do |info| %>
   <div class="row">
     <div class="span2"><%= l info.created_at, :format=>:only_date %></div>
     <div class="span7"><b><%= info.title %></b>
         <div class="row">
                <div class="span7"><%=truncate(info.content, :length=>250) %></div>
         </div>
     </div>
     <div class="span3">
       <%= link_to 'Anzeigen', info %>
       <% if user_signed_in? then %>
           | <%= link_to 'Bearbeiten', edit_info_path(info) %> |
           <%= link_to 'Löschen', info, :confirm => 'Sicher?', :method => :delete %>
       <% end %>
     </div>
   </div>
  <% end %>

</section>

