<section id="infos">
  <div class="page-header">
    <h1>Aktuelles</h1>
  </div>
<%= link_to 'Neue Info anlegen', new_info_path if user_signed_in? %>

<% @infos.each do |info| %>
   <div class="row">
     <div class="span3"><%= l info.created_at, :format=>:short %></div>
     <div class="span9"><%= info.title %></div>
     <div class="span4">
       <%= link_to 'Anzeigen', info %> |
       <%= link_to 'Bearbeiten', edit_info_path(info) if user_signed_in? %> |
       <%= link_to 'Löschen', info, :confirm => 'Sicher?', :method => :delete if user_signed_in? %>
     </div>
     <div class="row">
       <div class="span9 offset4"><%=info.content[0...250] + " ..." %></div>
     </div>
   </div>
  <% end %>

</section>

