<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Musikverein Biberach e.V.</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le styles -->
  <%= stylesheet_link_tag "application" %>
  <!-- %= stylesheet_link_tag "application-print", :media => "print" % -->
  <%= javascript_include_tag 'application' %>


  <%= csrf_meta_tag %>

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">

  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>

<body>
   <div class="container">
      <a href="/" class="header-image" > <%= image_tag( "header_neu.jpg",  :size=>"940x120", :alt=>"Musikverein Biberach e.V.") %></a>

      <div class="topbar-wrapper">

        <div class="topbar" data-dropdown="dropdown">
          <div class="topbar-inner">
            <div class="container">
            <a class="brand" href="#"><%= image_tag("logo_mvb.gif",  :size=>"24x16") %></a>
            <ul class="nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">&uuml;ber uns</a>
              <ul class="dropdown-menu">
                <li><a href="/static/about">Musikverein Biberach</a></li>
                <li><a href="/static/vorstand">Vorstand</a></li>
                <li><a href="/static/geschichte">Geschichte</a></li>
                <li><a href="/static/satzung">Satzung</a></li>
                <li><a href="/static/joi">JOI</a></li>
              </ul>
            </li>
            <li>
              <a href="/events">Termine</a>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle">Stadtkapelle</a>
              <ul class="dropdown-menu" >
                <li><a href="/static/stadtkapelle">Orchester</a></li>
                <li><a href="/probenplan/Stadtkapelle">Probenplan</a></li>
                <li><a href="/static/vorstand_stadtkapelle">Vorstand</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle">Sinfonieorchester</a>
              <ul class="dropdown-menu">
                <li><a href="/static/sinfonieorchester">Orchester</a></li>
                <li><a href="/probenplan/Sinfonieorchester">Probenplan</a></li>
                <li><a href="/static/vorstand_sinfonieorchester">Vorstand</a></li>
              </ul>
            </li>
            <li><a href="/galleries">Bilder</a></li>
            <li><a href="/static/kontakt">Kontakt</a></li>
            <% if user_signed_in? %>
                <li> <%= link_to 'Logout', destroy_user_session_path %></li>
            <% else %>
                <li> <%= link_to 'Login', new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
    </div>
  </div>
  </div>
  <div class="container">
  <%= yield %>

  <footer>
    <div class="row show-grid">
    <div class="span5"> &copy; 2011 Musikverein Biberach e.V. <a href="/static/impressum">Impressum</a></div>
    <div class="span3 offset8"> <%= link_to 'Verwaltung', '/admin' if user_signed_in? %>     </div>
    </div>
  </footer>
</div>
</div>
<!-- /container -->
 <%= javascript_include_tag 'bootstrap-dropdown' %>

</body>
</html>


