<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= yield_for(:title, "Musikverein Biberach e.V.") %></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le styles -->
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "application-print", :media => "print" %>
  <%= javascript_include_tag 'application' %>


  <%= csrf_meta_tag %>

  <!-- Le fav and touch icons -->
  <!-- <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"> -->
</head>

<body>
<header>
  <a href="/" class="header-image"> <%= image_tag("header_rot.png", :width=>"100%", :alt => "Musikverein Biberach e.V.") %></a>


  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header"> <!-- Sandwich for Mobile menu -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">&uuml;ber uns <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/static/about">Musikverein Biberach</a></li>
              <li><a href="/static/vorstand">Vorstand</a></li>
              <li><a href="/static/geschichte">Geschichte</a></li>
              <li><a href="/static/satzung">Satzung</a></li>
              <li><a href="/static/joi">JOI</a></li>
            </ul>
          </li>
          <li>
            <a href="/events">Termine</a>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sinfonieorchester<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/static/sinfonieorchester">Orchester</a></li>
              <li><a href="/static/mitglieder_sinfonieorchester">Mitglieder</a></li>
              <li><a href="/probenplan/Sinfonieorchester">Probenplan</a></li>
              <li><a href="/static/vorstand_sinfonieorchester">Vorstand</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Stadtkapelle<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/static/stadtkapelle">Orchester</a></li>
              <li><a href="/static/mitglieder_stadtkapelle">Mitglieder</a></li>
              <li><a href="/probenplan/Stadtkapelle">Probenplan</a></li>
              <li><a href="/static/vorstand_stadtkapelle">Vorstand</a></li>
            </ul>
          </li>
          <li><a href="/galleries">Bilder</a></li>
          <li class="dropdown" role="menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Archiv<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/concerts">Konzerte</a></li>
              <li><a href="/press_articles">Presse</a></li>
            </ul>
          </li>
          <li><a href="/static/kontakt">Kontakt</a></li>
          <% if user_signed_in? %>
              <li> <%= link_to 'Logout', destroy_user_session_path %></li>
          <% else %>
              <li> <%= link_to 'Login', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
<%= yield %>
</main>
<footer>
  <section>
    <article class="col-1">
      <hr>
    </article>
  </section>
  <section>
    <div class="col-md-5"> &copy; <%= Time.now.year %> Musikverein Biberach e.V. <a href="/static/impressum">Impressum</a></div>
    <div class="col-md-2 col-md-offset-5"> <%= link_to 'Verwaltung', '/admin', :class=>"pull-right" if user_signed_in?%>     </div>
  </section>
</footer>
<!-- /container -->

</body>
</html>


